{% extends "base.html" %}

{% block content %}

<h1>Submit</h1>
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </p>
    <p>
        {{ form.url.label }}<br>
        {{ form.url(size=32) }}
    </p>
    <p>
        {{ form.tags.label }}<br>
        {{ form.tags(size=32) }}
    </p>
    <p>
        {{ form.pin.label }}<br>
        {{ form.pin(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
