{% extends "base.html" %}

{% block content %}

<p>The case for minimal, pure-HTML/CSS pages is as follows:</p>

<ul>
  <li>
    Super easy to build and maintain.
  </li>
  <li>
    Pages are <i>tiny</i>, so they load quickly and don't bog down your browser.
  </li>
  <li>
    ... Aesthetic appeal?
  </li>
  <li>
    No BS -- this page won't track or collect data about you.
  </li>
  <li>
    <a href="https://jeffhuang.com/designed_to_last/">This page is designed to last.</a>. :)
  </li>
</ul>

{% endblock %}
